# dependencies
node_modules/

# build output
dist/
.vite/

# typescript
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
